// Dracula Base16
$base00: #282936;
$base01: #3a3c4e;
$base02: #626483;
$base03: #4d4f68;
$base04: #62d6e8;
$base05: #e9e9f4;
$base06: #f1f2f8;
$base07: #f7f7fb;
$base08: #ea51b2;
$base09: #b45bcf;
$base0A: #ebff87;
$base0B: #00f769;
$base0C: #a1efe4;
$base0D: #62d6e8;
$base0E: #b45bcf;
$base0F: #00f769;

// Dracula Theme
$action: #62d6e8;
$bg: #282936;
$bg-alt: #3a3c4e;
$bg-error: #ea51b2;
$bg-high-priority: #00f769;
$bg-low-priority: #f1f2f8;
$bg-progress: #3a3c4e;
$bg-selected: #626483;
$bg-urgent: #b45bcf;
$bg-warning: #ebff87;
$border-notify: #62d6e8;
$border-win-focused: #62d6e8;
$border-win-unfocused: #4d4f68;
$border-win-urgent: #ea51b2;
$color: #e9e9f4;
$color-bright: #f7f7fb;
$color-dark: #62d6e8;
$color-light: #f1f2f8;
$color-progress: #626483;
$comment: #4d4f68;
$const: #b45bcf;
$quote: #a1efe4;
$text: #00f769;
$text-alt: #62d6e8;
$text-bold: #ebff87;
$text-dim: #00f769;
$text-high-priority: #ea51b2;
$text-low-priority: #ebff87;
$text-num: #b45bcf;
$text-var: #ea51b2;
$text-win-title: #e9e9f4;
