 /* Mountain */

base00 { color: "07060A";} 
base01 { color: "8D4F6E";} 
base02 { color: "21223B";} 
base03 { color: "E18574";} 
base04 { color: "572146";} 
base05 { color: "371732";} 
base06 { color: "EBC29C";} 
base07 { color: "E18574";} 
base08 { color: "150E1C";} 
base09 { color: "586793";} 
base0A { color: "1A1631";} 
base0B { color: "8B2F52";}
base0C { color: "3C4878";}
base0D { color: "C25164";}
base0E { color: "603363";}
base0F { color: "A08293";}
